@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

:root{
    --Mobile: 375px;
    --Desktop: 1440px;
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
    --Font-size-paragraph: 16px;
}

body{
    height: 100vh;
    width: 100vw;
    background: url(/images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--Pale-blue);
}

.card{
    position: relative;
    width: 450px;
    height: 700px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: none;
    border-radius: 20px;
}

.card__image,.card__image__img{
    height: 220px;
    width: 450px;

    border-radius: 20px 20px 0px 0px;
}

.card__information{
    padding :42px;
    text-align: center;
}

.card__information__title{
    margin-bottom: 30px;
}

.card__information__description{
    font-size: var(--Font-size-paragraph);
    color: var(--Desaturated-blue);
    line-height: 25px;
    margin-bottom: 25px;
}

.card__information__subscription-box{
    background-color: var(--Very-pale-blue);
    width: 350px;
    height: 100px;
    border-radius: 12px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0px 20px;

    margin-bottom: 35px;
}

.card__information__subscription-box__left{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card__information__subscription-box__left__img{
    margin-right: 20px;
}

.card__information__subscription-box__left__annual-plan-cost{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 50px;
}


.card__information__subscription-box__left__annual-plan-cost__annual-plan{
    font-weight: 900;
}

.card__information__subscription-box__left__annual-plan-cost__cost{
    color: var(--Desaturated-blue);
}

.card__information__payment-button{
    display: block;
    color: white;
    text-decoration: none;
    

    border-radius: 12px;
    width: 355px;
    height: 50px;
    background-color: var(--Bright-blue);

    padding-top: 15px;

    margin-bottom: 20px;
}

.card__information__payment-cancel{

    background-color: white; 
    text-decoration: none;  
    color: var(--Desaturated-blue); 
}
